{% extends 'base.html' %}
{% load static%}

{% block content%}
<link rel="stylesheet" type="text/css" href="{%  static 'css/tasks.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'css/nav.css' %}">
<script src="{% static '/javascript/javascript.js' %}"></script>

<div class = nav_holder>
    <div onclick="change_visibility('new_task')">
    Change vis
    </div>
    <div id = new_task>
        {% include 'tasks/new_project.html' %}

        {% if project_list %}
            {% for project in project_list %}
                {{project.name}} id : {{project.name}}
            {% endfor %}
        {% endif %}
        
    </div>


</div>


{% endblock %}

