{% extends 'base.html' %}
{% load static%}

{% block content%}
<link rel="stylesheet" type="text/css" href="{%  static 'css/tasks.css' %}">
<script src="{% static '/javascript/javascript.js' %}"></script>

<div>
  <div onclick="change_visibility('new_task')">
    Change vis
  </div>
     {% include 'tasks/new_project.html' %}

  <div id = task_list>
      <p> Existing Projects </br> </p>
    {% for project in project_list %}
      <li>
           {{ project.name }}
      </li>
    {% endfor %}
  </div>


</div>


{% endblock %}

