{% extends 'base.html' %}
{% load static%}

{% block content%}
<link rel="stylesheet" type="text/css" href="{%  static 'css/tasks.css' %}">
<script src="{% static '/javascript/javascript.js' %}"></script>


<div>
  <div onclick="change_visibility('new_task')">
    Change vis
  </div>
     {% include 'tasks/new_task.html' %}

  <div id = task_list>
      <p> Task list goes here</p>
    {% for task in task_list %}
      <li>
          {{ task.name }}
          {{ task.project}}
          {{ task.user }}
      </li>

    {% endfor %}
  </div>



</div>

{% endblock %}
