{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'nav.css' %}">
</head>

    <div class = nav_holder>
        <!-- Home -->
        <a href="{% url 'home' %}">
            <div class = nav_row>
                <div class = nav_item>
                    <img src="{%static 'images/home.png'%}" class = nav_img>
                </div>
                <div class = nav_item>
                    <p class>Home</p>
                </div>
            </div>
        </a>
        <!-- Tasks -->
        <a href="{% url 'tasks' %}">
            <div class = nav_row>
                <div class = nav_item>
                    <img src="{%static 'images/tasks.png'%}" class = nav_img>
                </div>
                <div class = nav_item>
                    <p class>Home</p>
                </div>
            </div>
        </a>
        <!-- Matrix -->
        <a href="{% url 'matrix' %}">
            <div class = nav_row>
                <div class = nav_item>
                    <img src="{%static 'images/matrix.png'%}" class = nav_img>
                </div>
                <div class = nav_item>
                    <p class>Home</p>
                </div>
            </div>
        </a>

        <!-- Test -->
        <a href="{% url 'test' %}">
            <div class = nav_row>
                <div class = nav_item>
                    <img src="{%static 'images/login.png'%}" class = nav_img>
                </div>
                <div class = nav_item>
                    <p class>Home</p>
                </div>
            </div>
        </a>
    </div>




