div.nav_bar {
background:green;
width:200px;
float:left;
height:100px;
}

div.content_holder{
display:flex;
background:red;
}

div.middle_bar{
background:blue;
flex:0.4;
}

div.top_bar{
background:yellow;
display: flex;
}

div.account_icon{

}

img.login_button{

  display: block;
  margin-left: auto;
  margin-right: 30px;
  width: 50px;
  height:50px;
}
