#new_task{
background:green;
height:300px%;
/* visibility:hidden; */

}

#task_list{
background:blue
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
height:100vh;

}
