<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/nav.css' %}">
    <title class = home_title>Caleb's Planner Home</title>
</head>

<body>
    <div class = pg_holder >
        <div class = nav_bar>
            {%include 'navigation.html' %}
        </div>
        <div class = top_bar>
            <h3> This verifies CSS is working </h3>
            <img src="{%static 'images/login.png' %}" class = login_button onclick="open_login_menu()">
            <div class = dropdown_menu>
                {%block login_status%}
                {%endblock%}
                <a href=""> Log In </a>
                <a href=""> Sign Up </a>
            </div>
        </div>
            <div class = container>
                <div class = content_div>
                        {%block content%}
                        {%endblock%}
                </div>
            </div>
        <div>


        </div>


    </div>

</body>

</html>

